body {
    background-color: #ccffff;
    margin: 0 auto;
    font-family: 'Tinos', serif;
}

.nav-bar {
    background-color: #426699;
    height: 80px;
    width: 100%;
    position: fixed;
    top: -10px;
}

.nav-items {
    float: right;
}

.list-item {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}

#logo {
    height: 70px;
    width: 100px;
    margin: 5px 0px 0px 10px;
}

.banner {
    background-color: #0000;
    background-image: url('../img/mountain.jpg');
    margin-top: 0px;
    height: 200px;
    width: 100%;
    margin-left: 0px;
}

.banner-text {
    text-align: center;
    margin-left: 150px;
    font-size: 50px;
    color: #dab3ff;
    position: absolute;
}

img {
    width: 100%;
    height: 275px;
}

h1 {
    position: absolute;
    left: 275px;
    top: 150px;
}

p {
    height: 800px;
    width: 500px;
    margin-left: 50px;
    word-wrap: break-word;
    /*text-align-last: justify;*/
    text-justify: inter-word;
}

.column-one {
    width: 50%;
    display: inline-block;
    height: 1000px;
    position: static;
    float: left;
    margin-top: 100px;
}

.column-two {
    float: left;
    text-align: center;
    display: inline-block;
    width: 50%;
    height: 1000px;
    margin-top: 100px;
    /*border-style: solid;*/
    /*border-bottom-width: 3px;*/
    /*border-bottom-color: red;*/
}

.footer{
    width: 100%;
    height: 115px;
    background-color: #0080ff;
    position: fixed;
    left: 0px;
    bottom: 0px;
}
.footer-col{
    width: 33%;
    display: inline-block;
    vertical-align: top;
}
.footer-btn {
    background-color: #fff;
    color: #C92C21;
    width: 100px;
    height: 50px;
    font-size: 15px;
    border-radius: 15px;
    margin-left: 25%;
    margin-top: 40px;
    border: double;
    cursor: pointer;
}
.footer-btn:hover{
    background-color: #ffff00;
}
.icons-wrap{
    margin-top: 50px;
    margin-left: 130px;
}
.icon{
    color: a3a375;
    margin-right: 15px;
}
.icon:hover{
    color: #ffff00;
}
.copyright{
    color: #fff;
    margin-top: 50px;
    margin-left: 130px;
}